@font-face {
    font-family: "SF Pro Display Semibold";
    font-weight: 600;
    src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/SFProDisplay-Semibold.woff') format('woff')
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url('../fonts/SFProDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Thin.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
} 
html {
    padding: 0;
    margin: 0%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    background: #ccc url('../imgs/fondo.jpg') center/107px;
    /* position: relative; */
    /* background: #ccc url('../imgs/fondo.jpg') center/107px;
    min-width: 100%;
    min-height: 100%; */
}

body::before {
    /* content: "";
    background: #fff url('../imgs/fondo.jpg') center/107px;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    height: 100vh;  */
  }

button, a {
    cursor: pointer;
}

.title-type-a {
    font-family: 'Arial';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20.7px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    text-transform: uppercase;
}
.wrp-logo{
    margin: 0 auto;
    text-align: center;
}

.title-type-b {
    text-align: left;
    font-family: 'Arial';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.8px;
    letter-spacing: 0.05em;
    color:#38bee8;
    text-transform: uppercase;
}

.label-type-a {
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.label-padding-a {
    padding: 0px 11px 11px 0px;
}

.label-padding-b {
    padding: 32px 11px 11px 0px;
}

.label-padding-c {
    padding: 0px 18px 11px 0px;
}

.label-padding-d {
    /*padding: 0px 18px 11px 0px;*/
    padding: 0px 8px 11px 0px;
}

.input-type-a{
    width: 299px;
    height: 40px;
    border: 0.5px solid #B0B0B0;
    box-sizing: border-box;
    outline: none;
}

.input-type-b{
    width: 89px;/*width: 83px;*/
    height: 20px;
    border: 0.5px solid #B0B0B0;
    box-sizing: border-box;
    outline: none;
}

.wrapper-login {
    width: 50%;/*47%*/
    margin: 0 auto;
}

.wrapper-content{
    width: 50%;
    margin: 0 auto;
}

.wrapper-content-detail{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.wrp-padding-input-a {
    padding-bottom: 28px;
}

.wrp-padding-input-b {
    padding-bottom: 22px;
}

.wrp-padding-input-c {
    padding-bottom: 33px;
}

.wrp-padding-title-a {
    padding-bottom: 33px;
}

.wrp-padding-logo-a{
    padding-bottom: 11px;
    text-align: left;
}

.wrp-padding-logo-b{
    padding-bottom: 11px;
    text-align: center;
}

.wrp-btn-a {
    padding-bottom: 84px;
}

.btn-a {
    height: 40px;
    width: 181px;
    border-radius: 0px;
    background: #131313;
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
    outline: none;
    box-sizing: border-box;
    border: 0;
    text-transform: uppercase;
}

.wrp-main {
    position: relative;
    /*left: 50%;
    top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    width: 45%;
    height: auto;
    margin: 0 auto;
    margin-top: 2em;
    /*padding: 20px;*/
}

.wrp-login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    
}

.wrp-message-a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    padding-bottom: 65px;
}

.wrp-message-b {
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}

.custom-file-input {
    width: 299px;
    height: 40px;
}
.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  .custom-file-input::before {
    width: 299px;
    height: 40px;
    content: 'Examinar';
    display: inline-block;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    background: #E5E5E5;
    border: 0.5px solid #B0B0B0;
    box-sizing: border-box;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
  }


  .radio-btn-group {
      display: inline-flex;
  }

  .radio-btn-group .radio input[type=radio]{
      /*visibility: hidden;*/
      display: none;
  }

    .radio-btn-group .radioa input[type=radio]:checked + label {
        border: 2px solid #32CD32;
    }

    .radio-btn-group .radiob input[type=radio]:checked + label {
        border: 2px solid #0b85b7;
    }

    .radio-btn-group .radioc input[type=radio]:checked + label {
        border: 2px solid #0FAC1E;
    }

.radio > label {
    margin-right: 9px;
}

.radioa > label {
    width: 74px;
    height: 40px;
    background: rgba(137, 230, 146, 0.5);
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    text-transform: uppercase;
    padding: 12px;
}

.radiob > label {
    width: 118px;
    height: 40px;
    background: #C1E1FF;
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    text-transform: uppercase;
    padding: 12px;
}

.radioc > label {
    width: 98px;
    height: 40px;
    background: #FFACAC;
    box-sizing: border-box;
    display: block;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
    text-transform: uppercase;
    padding: 12px;
}

.label-position-a {
    display: inline-flex;
    vertical-align: middle
}

.label-position-a .wrp-padding-input-c{
    margin-right: 5px;
}

.align-center-a {
    text-align: center;
}

.table-a span {
    font-family: 'Arial';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    padding-right: 39px;
}

table .label-type-c {
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #B0B0B0;
    text-transform: uppercase;
}

table .text-type-a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #000000;
    text-transform: uppercase;
    margin-left: 35px;
}

table .state-btn-a {
    width: 113px;
    height: 40px;
    background: rgba(137, 230, 146, 0.5);
    border: 2px solid #32CD32;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 10px;
}
table .state-msg-a {
    color: #0FAC1E;
}
table .state-btn-b {
    width: 150px;
    height: 40px;
    background: #0b85b7;
    border: 2px solid #FF8383;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 10px;
}
table .state-msg-b {
    color: #FF8383;
}
table .state-btn-c {
    width: 170px;
    height: 40px;
    background: #C1E1FF;
    border: 2px solid #0FAC1E;
    box-sizing: border-box;
    display: block;
    text-align: center;
    padding: 10px;
}
table .state-msg-c {
    color: #83C3FF;
}



.wrp-grid {
    width: 500px;
    padding-top: 25px;
}

.wrp-grid-list {
    width: 100%;
    padding-top: 25px;
}

.wrapper-content-list {
    width: 100%;
    margin: 0 auto;
}

.table-a {
    width: auto;
    border-collapse: separate;
    border-spacing: 0 35px;
}

.table-b {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 25px;
    margin: 0 auto;
    margin-left: 50px;
}

.table-b .align-right{
    text-align: right;
}

.table-b .align-left{
    text-align: left;
}

.table-b .align-center{
    text-align: center;
}

table a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    line-height: 15px;
    padding: 12px;
}
.wrp-actions-a {
    margin-top: 5px;
}
.wrp-actions-b {
    display: inline-flex;
    margin-bottom: 2em;
}

.actions > a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
    line-height: 15px;
    padding: 12px;
}

table button, table a, .actions > a {
    width: 121px;
    height: 40px;
    font-family: 'SF Pro Display Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    box-sizing: border-box;
    text-transform: uppercase;
    /*display: inline-flex;*/
}

table button, table a {
    margin-right: 14px;
    cursor: pointer;
    /*margin-bottom: 25px;*/
}

.btn-b {
    color: #000000;
    border: 0.5px solid #B0B0B0;
    background: #FFFFFF;
}

.btn-c {
    color: #FFACAC;
    border: 0.5px solid #FFACAC;
    background: #FFFFFF;
}

.label-type-b {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #000000;
    text-transform: uppercase;
}

.wrp-name{ 
    text-align: center;
    padding: 27px 0px 25px 0px;
}

.vertical-align-top {
    vertical-align: top;
}

.image-employee{
    width: 350px;
}

.wrp-contact {
    width: 646px; 
    border-top: 1px solid #000000;
    margin-left: 50px;
    padding-top: 39px;
}

.text-a{
    width: 462px;
    text-align: center;
    margin: 0 auto;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

label.error {
    /* width: 100%; */
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: red;
    display: none;
}

textarea.error, 
input.error, 
input.error:focus,
textarea.error:focus,
input.error:active,
textarea.error:active{
    /* width: 100%; */
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: red;
    border: 1px solid red;
    display: block;
}

.swal2-title{
    font-family: 'Arial';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
} 

.swal2-html-container {
    font-family: 'Arial';
    font-style: normal;
    font-size: 12px;
}

.input-container input {
    /* border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem; */
    position: relative;
    font-size: 12px;
    height: 20px;
    /* width: 100%; */
    /*width: 100px;*/
    
}

input[type="date"]::-webkit-calendar-picker-indicator {
    /*display: none;*/
    /* width: 100%;
    background: transparent; */
    bottom: 0;
    padding-left: 0px;
    margin: 0;
    width: 10px;
    cursor: pointer;
    /* color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto; */
    
}

.filename {
    display: block;
    font-family: 'Arial';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    padding-top: 5px;
}

/* .qr-border {
    display: block;
    position: relative;
    height: 300px;
} */
/* #qr-image {
    position: absolute;
    left: -34px;
    top: 0px;
} */

/* .state_date_from_format_label, 
.state_date_to_format_label {
    display: block;
} */


label[for='last_file_delete'].error
{
    display: block !important;
}


/* @media (min-width: 1024px) and (max-width: 1920px){
    .text-content-a{
        margin: 0 auto;
        width: 552px;
    }
} */
.wrp-qr-m {
    visibility: hidden;
    display: none;
}
/* .wrp-qr-d {
    display: block;
} */


.btn-logout {
    font-family: 'Arial';
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 13.8px;
    letter-spacing: 0.05em;
    color: #fc6c52;
    text-transform: uppercase;
    text-decoration: none;
}
.wrp-session{
    width: 80%;
    display: inline-block;
}
.wrp-session-logout {
    width: 32%;
    display: inline-block;
    text-align: left;
    /* text-align: right; */
}
.tdactions{
    display: inline-flex;
}

.tdactions a {
    margin-left: 5px;
}

.tdactions .btn-c {
    margin-right: 0px;
}

.table-a {
    width: 100%;
}
.wrp-white {
    background: #FFFFFF;
}

.wrapper-content .wrp-session-logout{
    width: 32%;
}
@media (min-width: 320px) and (max-width: 750px) {  
    .wrp-contact{
        width: 90%;
        margin: 0 auto;
        padding: 0;
        height: 150px;
        border-top: 1px solid #28a8d2;
        
    }
    .wrp-main{
        width: 100%;
        margin-top: 0;
    }
    .table-b{
        width: 100%;
        margin: 0 auto;
        border-spacing: 0 15px;
    } 
    .table-b td {
        vertical-align: top;
    }
    .wrp-padding-logo-b > img,
    .wrp-padding-logo-a > img{
        width: 50%;
    }

    .wrp-padding-logo-a {
        padding-bottom: 11px;
        text-align: center;
        margin: 0 auto;
    }

    table .label-type-c {
        font-size: 12px;
        line-height: 15px !important;
        display: block;
    }

    table .text-type-a{
        font-size: 12px;
        display: block;
        margin-left: 10px;
        line-height: 15px !important;
    }
    
    .align-right-m{
        width: 40%;
    }
    .align-left-m{
        width: 60%;
    }

    .text-a{
        font-size: 12px;
        width: 100%;
        text-align: center;
        height: 210px;
        padding-top: 1em;
    }

    .qr-image {
        width: 50%;
    }

    .wrp-table{
        padding: 0px 15px 15px 15px;
    }

    .image-employee {
        width: 50%;
    }

    .wrp-name {
        padding: 15px 0px 10px 0px;
    }

    .wrp-qr-m{
        visibility: visible;
        display: table-row;
    }

    .wrp-qr-d {
        visibility: hidden;
        display: none;
    }

    .wrp-contact div{
        color: #28a8d2;
    }

    .state-btn {
        display: inline-block !important;
        margin: 0 auto;
        text-align: center;
        margin-left: 0px !important;
        line-height: 15px !important;
    }

    .wrapper-content, .wrapper-content-list, .wrapper-login {
        margin: 0 auto;
        padding-left: 5%; 
        padding-right: 5%;
        width: 90%;
    }

    .wrp-login {
        width: 100%;
    }

    .input-type-a {
        width: 100%;

    }

    .wrp-message-a {
        padding-bottom: 25px;
        font-size: 16px;
        text-align: center;
    }

    .custom-file-input::before, .custom-file-input {
        width: 100%;
    }

    .input-container input {
        width: 100%;
    }

    .wrp-btn-a {
        padding-bottom: 15px;
    }

    .wrp-actions-b {
        display: inline-block;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        height: 60px;
    }

    .wrp-actions-b .actions {
        display: inline-flex;
        width: 90%;
        margin: 0 auto;
        
    }

    .tbn:nth-child(1) {
        margin-right: 5px;
    }
    .tbn:nth-child(2) {
        width: 181px;
    }
    .table-a span {
        display: block;
    }

    .tdactions{
        display: inline-flex;
    }

    .tdactions .btn-b, .tdactions .btn-c {
        width: 50%;
        margin-right: 5px;
    }

    .wrp-session {
        width: 50%;
        display: inline-block;
    }
    .wrp-session-logout {
        width: 48%;
        display: inline-block;
    }
}

.phone-footer a {
    text-decoration: none !important;
    color: #28a8d2;
}

a[href^="tel"] {
    color: #28a8d2;
    text-decoration: none;
}

a[x-apple-data-detectors] {
    color: #28a8d2 !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
