<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" type="text/css"type="text/css">
</head>
<body>
    <div class="wrp-main">
        <div class="wrp-logo">
            <div class="wrp-padding-logo-b">
                <img src="./imgs/logo.jpg">
            </div>
        </div>
        
        <div class="wrapper-content-detail">
            
            <div class="wrp-detail">
                <img src="./imgs/employee.jpg" class="image-employee">
                <div class="wrp-name">
                    <div class="label-type-b">JUAN RODAS</div>
                </div>
                <table width="100" class="table-b">
                    <tr>
                        <td class="align-right"><span class="label-type-c">estado</span></td>
                        <td class="align-left"><span class="text-type-a state-btn-c">vacaciones</span></td>
                    </tr>
                    <tr>
                        <td class="align-right"><span class="label-type-c">dni</span></td>
                        <td class="align-left"><span class="text-type-a">44444444</span></td>
                    </tr>
                    <tr>
                        <td class="align-right"><span class="label-type-c">fecha ingreso</span></td>
                        <td class="align-left"><span class="text-type-a">20 DE ABRIL DEL 2020</span></td>
                    </tr>
                    <tr>
                        <td class="align-right"><span class="label-type-c">puesto</span></td>
                        <td class="align-left"><span class="text-type-a">JEFE DE LIMA ESTE DISTRUBUCIÓN</span></td>
                    </tr>
                    <tr>
                        <td class="align-right"><span class="label-type-c">comentarios</span></td>
                        <td class="align-left"><span class="text-type-a state-msg-c">ACTUALMENTE SE ENCUENTRA DE VACACIONES</span></td>
                    </tr>
                    <tr>
                        <td class="align-right vertical-align-top"><span class="label-type-c">qr</span></td>
                        <td class="align-left">
                            <span class="text-type-a"><img src="https://chart.googleapis.com/chart?chs=195x195&cht=qr&chl=https://stackoverflow.com/questions/5943368/dynamically-generating-a-qr-code-with-php&choe=UTF-8" alt=""></span>
                            
                        </td>
                    </tr>
                </table>
            </div>
            <div class="wrp-contact" >
                
                <div class="text-a">
                    PARA MAYOR INFORMACIÓN  COMUNICARSE AL
                    000000000000
                </div>
            </div> 
        </div>
    </div>


</body>
</html>