<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" type="text/css"type="text/css">
</head>
<body>
    <div class="wrp-main">
        <div class="wrapper-content">
            <div class="wrp-padding-logo-a">
                <img src="./imgs/logo.jpg">
            </div>
            <div class="wrp-padding-title-a">
                <div class="title-type-a">Acceso</div>
                <div class="title-type-b">Personal autorizado</div>
            </div>
            <div class="wrp-message-b">
                LISTA DE TRABAJAODRES
            </div>
            <div class="wrp-grid">
                <table width="100" class="table-a">
                    <tr>
                        <td><span>01 - JUAN RODAS</span></td>
                        <td><button class="btn-b">editar</button><button class="btn-c">borrar</button></td>
                    </tr>  
                    <tr>
                        <td><span>02 - JUAN RODAS</span></td>
                        <td><button class="btn-b">editar</button><button class="btn-c">borrar</button></td>
                    </tr>  
                </table>
                  
            </div>
        </div>
    </div>


</body>
</html>