<!DOCTYPE html>
<html lang="en">
<head>
    <base href="">
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/style.css" rel="stylesheet" type="text/css"type="text/css">
</head>
<body>
    <div class="wrp-login">
        <div class="wrapper-login">
            <div class="wrp-padding-logo-a">
                <img src="./imgs/logo.jpg">
            </div>
            <div class="wrp-padding-title-a">
                <div class="title-type-a">Acceso</div>
                <div class="title-type-b">Personal autorizado</div>
            </div>
            <div>
                <form>
                    <div class="wrp-padding-input-a">
                        <label for="email" class="label-type-a label-padding-a">Correo</label>
                        <input id="email" type="email" class="input-type-a">
                    </div>
                    <div class="wrp-padding-input-b">
                        <label for="password" class="label-type-a label-padding-a">Contraseña</label>
                        <input id="password" type="password" class="input-type-a">
                    </div>
                    <div>
                        <button class="btn-a">INGRESAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>